body{
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial  ;
}
li{
    list-style-type: none;
    position: relative;
    margin: 30px;
}
ul.products_list{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.product{
    border: 1px solid #000;
    width: 300px;
    height: 200px;
    text-align: center;
}
.product:first-child{
    padding-top: 30px;
}
hr{
    clear: both;
}
footer{
    text-align: center;
}
h1{
    float:left;
}
.button input{
    float: right;
    transition-duration: 0.4s;
    border: solid 1px black;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
.button .button1{
    left: -25%;
}
.button:hover input{
    background-color: #d4d4d4;
}
.delete-checkbox{
    top: 15px;
    left: 15px;
    padding: 5px;
    position: absolute;
}
.empty, .error{
    outline: 1px solid red;
}  
